DnBImporter/DnBWebServiceAccess/WSDL/GetNotifications_V3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/GetNotifications_V3/wsp_GetNotifications_V3" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="wsp_GetNotifications_V3" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/GetNotifications_V3/wsp_GetNotifications_V3">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/GetNotifications_V3/wsp_GetNotifications_V3" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/GetNotifications_V3/wsp_GetNotifications_V3">
          
          <xsd:complexType name="ws_GetNotifications">
            <xsd:sequence>
              <xsd:element name="getNotificationsRequest" nillable="true" type="tns:getNotificationsRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getNotificationsRequest">
            <xsd:sequence>
              <xsd:element name="UserId" nillable="true" type="xsd:string"/>
              <xsd:element name="Password" nillable="true" type="xsd:string"/>
              <xsd:element name="socCode" nillable="true" type="tns:socCode" minOccurs="0"/>
              <xsd:element name="getNotificationsRequestData" nillable="true" type="tns:getNotificationsRequestData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="socCode">
            <xsd:sequence>
              <xsd:element name="AppId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AppVer" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getNotificationsRequestData">
            <xsd:sequence>
              <xsd:element name="DnB_DUNS_Number" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CountryCode" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Product_Name" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Notification_Level" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer_Account_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Endorsement" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="User_Level" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Result_Ticket" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Detection_Date_From" nillable="true" type="xsd:string"/>
              <xsd:element name="Detection_Date_To" nillable="true" type="xsd:string"/>
              <xsd:element name="Received_Date_From" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Received_Date_To" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Active_Registrations_only" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Pending_Notices_only" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Do_not_Mark_as_Read" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Character_Set_Override" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ws_GetNotificationsResponse">
            <xsd:sequence>
              <xsd:element name="getNotificationsResponse" nillable="true" type="tns:getNotificationsResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getNotificationsResponse">
            <xsd:sequence>
              <xsd:element name="DGX" nillable="true" type="tns:DGX"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DGX">
            <xsd:sequence>
              <xsd:element name="SIGNONMSGSRSV1" nillable="true" type="tns:SIGNONMSGSRSV1"/>
              <xsd:element name="GLBLMNSVCMSGSRSV1" nillable="true" type="tns:GLBLMNSVCMSGSRSV1" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SIGNONMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="SONRS" nillable="true" type="tns:SONRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SONRS">
            <xsd:sequence>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS"/>
              <xsd:element name="DTSERVER" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LANGUAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GLBLMNSVCMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="GETNTFCTRNRS" nillable="true" type="tns:GETNTFCTRNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GETNTFCTRNRS">
            <xsd:sequence>
              <xsd:element name="TRNUID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RSLT_TKT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS2" minOccurs="0"/>
              <xsd:element name="GETNTFCRS" nillable="true" type="tns:GETNTFCRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS2">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GETNTFCRS">
            <xsd:sequence>
              <xsd:element name="REQ_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="USERRS" nillable="true" type="tns:USERRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="USERRS">
            <xsd:sequence>
              <xsd:element name="USERID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PFLRS" nillable="true" type="tns:ArrayOfPFLRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PFLRS">
            <xsd:sequence>
              <xsd:element name="PROD_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NTFC_LVL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PFL_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGNRS" nillable="true" type="tns:ArrayOfREGNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="REGNRS">
            <xsd:sequence>
              <xsd:element name="CUST_ACCT_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CUST_ENDR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NTFCRS" nillable="true" type="tns:ArrayOfNTFCRS" minOccurs="0"/>
              <xsd:element name="MON_PROD_RS" nillable="true" type="tns:ArrayOfMON_PROD_RS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="NTFCRS">
            <xsd:sequence>
              <xsd:element name="DETECT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SRC_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADR_LINE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="POST_TOWN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_GEO_AREA" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="POST_CODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACT_PAY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACT_REC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTIVITY_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADR_TENR_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_CONS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_VOL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_VOL_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDT_QLFN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AVG_HIGH_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_REGN_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_REGN_NBR_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_AMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CASH_LIQ_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CEO_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CEO_TITL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CLM_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="COST_OF_SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR_CMTY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CRIM_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CURR_CNTL_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CURR_RATO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBTR_IN_POSN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DIVD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DNB_RATG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DSR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DSTR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_MIN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_12_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_6_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_CMTY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_NATL_PCTG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_IND_PCTG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAX_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FCST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FISC_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FIXD_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_VAL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FNAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_FAIL_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GROS_INCM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HIGH_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IMPT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INCM_STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INCN_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INTL_DLNG_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LCL_ACTV_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LCL_ACTV_CD_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LOCN_STAT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAX_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAX_CR_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NBR_NEG_PMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NET_INCM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NON_POST_TOWN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OPEN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OPRG_SPEC_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OTHR_SPEC_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OUT_BUS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_3_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_WRKG_CAPL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_SIC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_SIC_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRO_FRMA_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QK_RATO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGN_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RETN_ERNG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCDY_GEO_AREA" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SGND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCRD_FLNG_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STK" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_FROM_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_TO_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STRT_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUIT_JDGT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TLCM_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_MIN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_CURR_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ITNG_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_CURR_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRDG_STYL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRL_BAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UBAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ENQ_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIN_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIN_TTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PFT_BEF_TAX" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CNGL_DIST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LBR_SPLS_AREA_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LBR_SPLS_AREA_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SML_BUS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SML_BUS_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WOMN_OWND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WOMN_OWND_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MINY_OWND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MINY_OWND_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DAVD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DAVD_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBAR_CNT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBAR_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_PMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_STRU" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CONS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EXPT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_EMBT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_LGL_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_STMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LT_DBT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PMT_SUMM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LIAB_AND_EQY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LT_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LGL_FORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HIST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CACHE_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SRVTID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_ENTR" nillable="true" type="tns:ArrayOfFAIL_SCR_ENTR" minOccurs="0"/>
              <xsd:element name="DELQ_SCR_ENTR" nillable="true" type="tns:ArrayOfDELQ_SCR_ENTR" minOccurs="0"/>
              <xsd:element name="GLBL_FAIL_SCR_ENTR" nillable="true" type="tns:ArrayOfGLBL_FAIL_SCR_ENTR" minOccurs="0"/>
              <xsd:element name="DUNS_ENQ" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STR_ADR1" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STR_ADR2" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CITY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STATE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CNTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="POST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CTRY_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OOB_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_STRUC_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUBS_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_BUS_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_STR_ADR1" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_STR_ADR2" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CITY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_STATE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CNTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_POST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CTRY_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_BUS_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_STR_ADR1" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_STR_ADR2" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CITY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_STATE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CNTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_POST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CTRY_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_BUS_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_STR_ADR1" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_STR_ADR2" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CITY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_STATE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CNTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_POST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CTRY_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_BUS_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_STR_ADR1" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_STR_ADR2" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_CITY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_CITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_STATE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_CNTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_POST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_ULT_CTRY_NME" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="FAIL_SCR_ENTR">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfFAIL_SCR_ENTR"><xsd:sequence>
			<xsd:element name="ArrayOfFAIL_SCR_ENTRItem" type="tns:FAIL_SCR_ENTR" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="DELQ_SCR_ENTR">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP2">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfDELQ_SCR_ENTR"><xsd:sequence>
			<xsd:element name="ArrayOfDELQ_SCR_ENTRItem" type="tns:DELQ_SCR_ENTR" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="GLBL_FAIL_SCR_ENTR">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP3"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP3">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfGLBL_FAIL_SCR_ENTR"><xsd:sequence>
			<xsd:element name="ArrayOfGLBL_FAIL_SCR_ENTRItem" type="tns:GLBL_FAIL_SCR_ENTR" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfNTFCRS"><xsd:sequence>
			<xsd:element name="ArrayOfNTFCRSItem" type="tns:NTFCRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="MON_PROD_RS">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADR_LINE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="POST_TOWN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_GEO_AREA" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="POST_CODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACT_PAY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACT_REC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTIVITY_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADR_TENR_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_CONS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_VOL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ANN_SALE_VOL_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDT_QLFN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AVG_HIGH_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_REGN_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_REGN_NBR_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_AMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CAPL_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CASH_LIQ_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CEO_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CEO_TITL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CLM_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="COST_OF_SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR_CMTY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CRIM_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CURR_CNTL_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CURR_RATO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBTR_IN_POSN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DIVD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CR_SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DNB_RATG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DOM_ULT_PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DSR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DSTR_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_MIN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EMPL_AT_PRIM_ADR_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_12_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_6_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_CMTY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_NATL_PCTG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_IND_PCTG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAX_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FCST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FISC_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FIXD_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FLNG_VAL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FNAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GBL_ULT_PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GLBL_FAIL_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="GROS_INCM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HIGH_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HQ_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="IMPT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INCM_STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INCN_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INTL_DLNG_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LCL_ACTV_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LCL_ACTV_CD_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LOCN_STAT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAX_CR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MAX_CR_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NBR_NEG_PMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NET_INCM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NON_POST_TOWN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OPEN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OPRG_SPEC_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OTHR_SPEC_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OUT_BUS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_3_MO_AGO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PAYD_SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PNT_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_WRKG_CAPL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PREV_STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_SIC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_SIC_TYPE_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRO_FRMA_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="QK_RATO" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGN_TYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RETN_ERNG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCDY_GEO_AREA" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SGND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCRD_FLNG_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SLS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STK" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CONS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BUS_STRU" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_FROM_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STMT_TO_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STRT_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUIT_JDGT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TANG_NET_WRTH_CRCY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TLCM_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_TEXT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_ESTD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_EMPL_MIN_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_CURR_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ITNG_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_ASET" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_CURR_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRDG_STYL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRL_BAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="UBAL_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_SIC_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ENQ_DUNS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIN_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIN_TTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PFT_BEF_TAX" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CNGL_DIST_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LBR_SPLS_AREA_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LBR_SPLS_AREA_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SML_BUS_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SML_BUS_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WOMN_OWND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="WOMN_OWND_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MINY_OWND_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MINY_OWND_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DAVD_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DAVD_YR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBAR_CNT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DBAR_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_PMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EXPT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_EMBT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_LGL_EVNT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_STMT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LT_DBT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PMT_SUMM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LIAB_AND_EQY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TOT_LT_LIAB" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LGL_FORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HIST_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CACHE_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SRVTID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FAIL_SCR_ENTR" nillable="true" type="tns:ArrayOfFAIL_SCR_ENTR2" minOccurs="0"/>
              <xsd:element name="DELQ_SCR_ENTR" nillable="true" type="tns:ArrayOfDELQ_SCR_ENTR2" minOccurs="0"/>
              <xsd:element name="GLBL_FAIL_SCR_ENTR" nillable="true" type="tns:ArrayOfGLBL_FAIL_SCR_ENTR2" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="FAIL_SCR_ENTR2">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP4"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP4">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfFAIL_SCR_ENTR2"><xsd:sequence>
			<xsd:element name="ArrayOfFAIL_SCR_ENTR2Item" type="tns:FAIL_SCR_ENTR2" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="DELQ_SCR_ENTR2">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP5"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP5">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfDELQ_SCR_ENTR2"><xsd:sequence>
			<xsd:element name="ArrayOfDELQ_SCR_ENTR2Item" type="tns:DELQ_SCR_ENTR2" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="GLBL_FAIL_SCR_ENTR2">
            <xsd:sequence>
              <xsd:element name="SCR_GRP" nillable="true" type="tns:SCR_GRP6"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SCR_GRP6">
            <xsd:sequence>
              <xsd:element name="ELE_TAG" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ASMT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DEFU_INDN" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INDS_NORM" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NATL_PCTL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_AGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CLAS" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_CMTY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SCR_OVRD_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ALGM_ID" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfGLBL_FAIL_SCR_ENTR2"><xsd:sequence>
			<xsd:element name="ArrayOfGLBL_FAIL_SCR_ENTR2Item" type="tns:GLBL_FAIL_SCR_ENTR2" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfMON_PROD_RS"><xsd:sequence>
			<xsd:element name="ArrayOfMON_PROD_RSItem" type="tns:MON_PROD_RS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfREGNRS"><xsd:sequence>
			<xsd:element name="ArrayOfREGNRSItem" type="tns:REGNRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfPFLRS"><xsd:sequence>
			<xsd:element name="ArrayOfPFLRSItem" type="tns:PFLRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
        			<xsd:element name="ws_GetNotifications" type="tns:ws_GetNotifications"/>
			<xsd:element name="ws_GetNotificationsResponse" type="tns:ws_GetNotificationsResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsp_GetNotifications_V3_PortType_ws_GetNotificationsResponse">
    <wsdl:part name="parameters" element="tns:ws_GetNotificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsp_GetNotifications_V3_PortType_ws_GetNotifications">
    <wsdl:part name="parameters" element="tns:ws_GetNotifications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsp_GetNotifications_V3_PortType">
    <wsdl:operation name="ws_GetNotifications">
      <wsdl:input message="tns:wsp_GetNotifications_V3_PortType_ws_GetNotifications">
    </wsdl:input>
      <wsdl:output message="tns:wsp_GetNotifications_V3_PortType_ws_GetNotificationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DNB_WebServices_Providers_GetNotifications_V3_wsp_GetNotifications_V3_Binder" type="tns:wsp_GetNotifications_V3_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ws_GetNotifications">
      <soap:operation soapAction="DNB_WebServices_Providers_GetNotifications_V3_wsp_GetNotifications_V3_Binder_ws_GetNotifications" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsp_GetNotifications_V3">
    <wsdl:port name="DNB_WebServices_Providers_GetNotifications_V3_wsp_GetNotifications_V3_Port" binding="tns:DNB_WebServices_Providers_GetNotifications_V3_wsp_GetNotifications_V3_Binder">
      <soap:address location="https://toolkit.dnb.com/ws/DNB_WebServices.Providers.GetNotifications_V3:wsp_GetNotifications_V3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
