DnBImporter/DnBWebServiceAccess/WSDL/ModifyRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/ModifyRegistration" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="wsp_ModifyRegistration" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/ModifyRegistration">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/ModifyRegistration" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/ModifyRegistration">
          
          <xsd:complexType name="ws_ModifyRegistration">
            <xsd:sequence>
              <xsd:element name="modifyRegistrationRequest" nillable="true" type="tns:modifyRegistrationRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="modifyRegistrationRequest">
            <xsd:sequence>
              <xsd:element name="UserId" nillable="true" type="xsd:string"/>
              <xsd:element name="Password" nillable="true" type="xsd:string"/>
              <xsd:element name="modifyRegistrationRequestData" nillable="true" type="tns:modifyRegistrationRequestData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="modifyRegistrationRequestData">
            <xsd:sequence>
              <xsd:element name="DnB_DUNS_Number" nillable="true" type="xsd:string"/>
              <xsd:element name="CountryCode" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Product_Name" nillable="true" type="xsd:string"/>
              <xsd:element name="Notification_Level" nillable="true" type="xsd:string"/>
              <xsd:element name="Customer_Account_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="New_Account_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer_Endorsement" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="New_Endorsement" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Cancel_Registration" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Un-cancel_Registration" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Renew_Registration" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Do_not_Renew_Registration" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Expiration_Date" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Character_Set_Override" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ws_ModifyRegistrationResponse">
            <xsd:sequence>
              <xsd:element name="modifyRegistrationResponse" nillable="true" type="tns:modifyRegistrationResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="modifyRegistrationResponse">
            <xsd:sequence>
              <xsd:element name="DGX" nillable="true" type="tns:DGX"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DGX">
            <xsd:sequence>
              <xsd:element name="SIGNONMSGSRSV1" nillable="true" type="tns:SIGNONMSGSRSV1"/>
              <xsd:element name="GLBLMNSVCMSGSRSV1" nillable="true" type="tns:GLBLMNSVCMSGSRSV1" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SIGNONMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="SONRS" nillable="true" type="tns:SONRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SONRS">
            <xsd:sequence>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS"/>
              <xsd:element name="DTSERVER" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LANGUAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GLBLMNSVCMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="MODREGNTRNRS" nillable="true" type="tns:MODREGNTRNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="MODREGNTRNRS">
            <xsd:sequence>
              <xsd:element name="TRNUID" nillable="true" type="xsd:string"/>
              <xsd:element name="RSLT_TKT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS2" minOccurs="0"/>
              <xsd:element name="MODREGNRS" nillable="true" type="tns:ArrayOfMODREGNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS2">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="MODREGNRS">
            <xsd:sequence>
              <xsd:element name="USERRS" nillable="true" type="tns:ArrayOfUSERRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="USERRS">
            <xsd:sequence>
              <xsd:element name="USERID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PFLRS" nillable="true" type="tns:ArrayOfPFLRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PFLRS">
            <xsd:sequence>
              <xsd:element name="PFL_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PROD_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="NTFC_LVL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGNRS" nillable="true" type="tns:ArrayOfREGNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="REGNRS">
            <xsd:sequence>
              <xsd:element name="CUST_ACCT_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PRIM_NME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CUST_ENDR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RNEW_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EXP_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LAST_UPD_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="HISTRS" nillable="true" type="tns:ArrayOfHISTRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="HISTRS">
            <xsd:sequence>
              <xsd:element name="ACTV_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_DET_RS" nillable="true" type="tns:ArrayOfADDL_DET_RS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ADDL_DET_RS">
            <xsd:sequence>
              <xsd:element name="FRMR_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XFER_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CHRG_XMIT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_EMBT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRADE_UP_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGN_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfADDL_DET_RS"><xsd:sequence>
			<xsd:element name="ArrayOfADDL_DET_RSItem" type="tns:ADDL_DET_RS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfHISTRS"><xsd:sequence>
			<xsd:element name="ArrayOfHISTRSItem" type="tns:HISTRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfREGNRS"><xsd:sequence>
			<xsd:element name="ArrayOfREGNRSItem" type="tns:REGNRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfPFLRS"><xsd:sequence>
			<xsd:element name="ArrayOfPFLRSItem" type="tns:PFLRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfUSERRS"><xsd:sequence>
			<xsd:element name="ArrayOfUSERRSItem" type="tns:USERRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfMODREGNRS"><xsd:sequence>
			<xsd:element name="ArrayOfMODREGNRSItem" type="tns:MODREGNRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="Exception">
            <xsd:sequence>
              <xsd:element name="message" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        			<xsd:element name="ws_ModifyRegistration" type="tns:ws_ModifyRegistration"/>
			<xsd:element name="ws_ModifyRegistrationResponse" type="tns:ws_ModifyRegistrationResponse"/>
			<xsd:element name="Exception" type="tns:Exception"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part name="parameters" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsp_ModifyRegistration_PortType_ws_ModifyRegistrationResponse">
    <wsdl:part name="parameters" element="tns:ws_ModifyRegistrationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsp_ModifyRegistration_PortType_ws_ModifyRegistration">
    <wsdl:part name="parameters" element="tns:ws_ModifyRegistration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsp_ModifyRegistration_PortType">
    <wsdl:operation name="ws_ModifyRegistration">
      <wsdl:input message="tns:wsp_ModifyRegistration_PortType_ws_ModifyRegistration">
    </wsdl:input>
      <wsdl:output message="tns:wsp_ModifyRegistration_PortType_ws_ModifyRegistrationResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DNB_WebServices_Providers_ModifyRegistration_wsp_ModifyRegistration_Binder" type="tns:wsp_ModifyRegistration_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ws_ModifyRegistration">
      <soap:operation soapAction="DNB_WebServices_Providers_ModifyRegistration_wsp_ModifyRegistration_Binder_ws_ModifyRegistration" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsp_ModifyRegistration">
    <wsdl:port name="DNB_WebServices_Providers_ModifyRegistration_wsp_ModifyRegistration_Port" binding="tns:DNB_WebServices_Providers_ModifyRegistration_wsp_ModifyRegistration_Binder">
      <soap:address location="https://toolkit.dnb.com/ws/DNB_WebServices.Providers.ModifyRegistration:wsp_ModifyRegistration"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>