DnBImporter/DnBWebServiceAccess/DBLookUpClient/WSDL/AddRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/AddRegistration" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="wsp_AddRegistration" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/AddRegistration">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/AddRegistration" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/AddRegistration">
          
          <xsd:complexType name="ws_AddRegistration">
            <xsd:sequence>
              <xsd:element name="addRegistrationRequest" nillable="true" type="tns:addRegistrationRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="addRegistrationRequest">
            <xsd:sequence>
              <xsd:element name="UserId" nillable="true" type="xsd:string"/>
              <xsd:element name="Password" nillable="true" type="xsd:string"/>
              <xsd:element name="addRegistrationData" nillable="true" type="tns:addRegistrationData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="addRegistrationData">
            <xsd:sequence>
              <xsd:element name="DnB_DUNS_Number" nillable="true" type="xsd:string"/>
              <xsd:element name="CountryCode" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Product_Name" nillable="true" type="xsd:string"/>
              <xsd:element name="Notification_Level" nillable="true" type="xsd:string"/>
              <xsd:element name="Customer_Account_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Endorsement" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Expiration_Date" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Reason_Code" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Do_not_Renew" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ws_AddRegistrationResponse">
            <xsd:sequence>
              <xsd:element name="addRegistrationResponse" nillable="true" type="tns:addRegistrationResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="addRegistrationResponse">
            <xsd:sequence>
              <xsd:element name="DGX" nillable="true" type="tns:DGX"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DGX">
            <xsd:sequence>
              <xsd:element name="SIGNONMSGSRSV1" nillable="true" type="tns:SIGNONMSGSRSV1"/>
              <xsd:element name="GLBLMNSVCMSGSRSV1" nillable="true" type="tns:GLBLMNSVCMSGSRSV1" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SIGNONMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="SONRS" nillable="true" type="tns:SONRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SONRS">
            <xsd:sequence>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS"/>
              <xsd:element name="DTSERVER" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LANGUAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GLBLMNSVCMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="ADDREGNTRNRS" nillable="true" type="tns:ADDREGNTRNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ADDREGNTRNRS">
            <xsd:sequence>
              <xsd:element name="TRNUID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS2" minOccurs="0"/>
              <xsd:element name="RSLT_TKT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDREGNRS" nillable="true" type="tns:ArrayOfADDREGNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS2">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ADDREGNRS">
            <xsd:sequence>
              <xsd:element name="BKCY_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STAT_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RNEW_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EXP_DT" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfADDREGNRS"><xsd:sequence>
			<xsd:element name="ArrayOfADDREGNRSItem" type="tns:ADDREGNRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="Exception">
            <xsd:sequence>
              <xsd:element name="message" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        			<xsd:element name="ws_AddRegistration" type="tns:ws_AddRegistration"/>
			<xsd:element name="ws_AddRegistrationResponse" type="tns:ws_AddRegistrationResponse"/>
			<xsd:element name="Exception" type="tns:Exception"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsp_AddRegistration_PortType_ws_AddRegistrationResponse">
    <wsdl:part name="parameters" element="tns:ws_AddRegistrationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsp_AddRegistration_PortType_ws_AddRegistration">
    <wsdl:part name="parameters" element="tns:ws_AddRegistration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="parameters" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsp_AddRegistration_PortType">
    <wsdl:operation name="ws_AddRegistration">
      <wsdl:input message="tns:wsp_AddRegistration_PortType_ws_AddRegistration">
    </wsdl:input>
      <wsdl:output message="tns:wsp_AddRegistration_PortType_ws_AddRegistrationResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DNB_WebServices_Providers_AddRegistration_wsp_AddRegistration_Binder" type="tns:wsp_AddRegistration_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ws_AddRegistration">
      <soap:operation soapAction="DNB_WebServices_Providers_AddRegistration_wsp_AddRegistration_Binder_ws_AddRegistration" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsp_AddRegistration">
    <wsdl:port name="DNB_WebServices_Providers_AddRegistration_wsp_AddRegistration_Port" binding="tns:DNB_WebServices_Providers_AddRegistration_wsp_AddRegistration_Binder">
      <soap:address location="https://toolkit.dnb.com/ws/DNB_WebServices.Providers.AddRegistration:wsp_AddRegistration"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
