DnBImporter/DnBWebServiceAccess/DBLookUpClient/WSDL/GetRegistrationList_V1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/GetRegistrationList_V1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="wsp_GetRegistrationList_V1" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/GetRegistrationList_V1">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dnb.com/DNB_WebServices/Providers/GetRegistrationList_V1" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dnb.com/DNB_WebServices/Providers/GetRegistrationList_V1">
          
          <xsd:complexType name="ws_GetRegistrationList">
            <xsd:sequence>
              <xsd:element name="getRegistrationListRequest" nillable="true" type="tns:getRegistrationListRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getRegistrationListRequest">
            <xsd:sequence>
              <xsd:element name="UserId" nillable="true" type="xsd:string"/>
              <xsd:element name="Password" nillable="true" type="xsd:string"/>
              <xsd:element name="getRegistrationListData" nillable="true" type="tns:getRegistrationListData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getRegistrationListData">
            <xsd:sequence>
              <xsd:element name="DnB_DUNS_Number" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CountryCode" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Product_Name" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Notification_Level" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Customer_Account_ID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Endorsement" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="User_Level" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Result_Ticket" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Last_Update_Date_From" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Last_Update_Date_To" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Renewal_Date_From" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Renewal_Date_To" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Expiration_Date_From" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Expiration_Date_To" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Character_Set_Override" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ws_GetRegistrationListResponse">
            <xsd:sequence>
              <xsd:element name="getRegistrationListResponse" nillable="true" type="tns:getRegistrationListResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getRegistrationListResponse">
            <xsd:sequence>
              <xsd:element name="DGX" nillable="true" type="tns:DGX"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DGX">
            <xsd:sequence>
              <xsd:element name="SIGNONMSGSRSV1" nillable="true" type="tns:SIGNONMSGSRSV1"/>
              <xsd:element name="GLBLMNSVCMSGSRSV1" nillable="true" type="tns:GLBLMNSVCMSGSRSV1" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SIGNONMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="SONRS" nillable="true" type="tns:SONRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SONRS">
            <xsd:sequence>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS"/>
              <xsd:element name="DTSERVER" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="LANGUAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="GLBLMNSVCMSGSRSV1">
            <xsd:sequence>
              <xsd:element name="REGNLISTTRNRS" nillable="true" type="tns:REGNLISTTRNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="REGNLISTTRNRS">
            <xsd:sequence>
              <xsd:element name="TRNUID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="RSLT_TKT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STATUS" nillable="true" type="tns:STATUS2" minOccurs="0"/>
              <xsd:element name="REGNLISTRS" nillable="true" type="tns:REGNLISTRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="STATUS2">
            <xsd:sequence>
              <xsd:element name="CODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SEVERITY" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TECH_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SUPPORT_MESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="REGNLISTRS">
            <xsd:sequence>
              <xsd:element name="USERRS" nillable="true" type="tns:USERRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="USERRS">
            <xsd:sequence>
              <xsd:element name="USERID" nillable="true" type="xsd:string"/>
              <xsd:element name="PFLRS" nillable="true" type="tns:ArrayOfPFLRS"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PFLRS">
            <xsd:sequence>
              <xsd:element name="PFL_NME" nillable="true" type="xsd:string"/>
              <xsd:element name="PROD_NME" nillable="true" type="xsd:string"/>
              <xsd:element name="NTFC_LVL" nillable="true" type="xsd:string"/>
              <xsd:element name="REGNRS" nillable="true" type="tns:ArrayOfREGNRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="REGNRS">
            <xsd:sequence>
              <xsd:element name="CUST_ACCT_ID" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="DUNS_NBR" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="CTRY_CD" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="PRIM_NME" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="CUST_ENDR" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="STAT_CD" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="STAT_DESC" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="RNEW_DT" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="EXP_DT" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="LAST_UPD_DT" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="HISTRS" nillable="true" type="tns:ArrayOfHISTRS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfstring"><xsd:sequence>
			<xsd:element name="ArrayOfstringItem" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="HISTRS">
            <xsd:sequence>
              <xsd:element name="ACTV_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_CD" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ACTV_DESC" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ADDL_DET_RS" nillable="true" type="tns:ADDL_DET_RS" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ADDL_DET_RS">
            <xsd:sequence>
              <xsd:element name="FRMR_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="XFER_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CHRG_XMIT_DT" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FINL_EMBT_IND" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TRADE_UP_DUNS_NBR" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="REGN_CTRY_CD" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfHISTRS"><xsd:sequence>
			<xsd:element name="ArrayOfHISTRSItem" type="tns:HISTRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfREGNRS"><xsd:sequence>
			<xsd:element name="ArrayOfREGNRSItem" type="tns:REGNRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="ArrayOfPFLRS"><xsd:sequence>
			<xsd:element name="ArrayOfPFLRSItem" type="tns:PFLRS" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
        			<xsd:element name="ws_GetRegistrationList" type="tns:ws_GetRegistrationList"/>
			<xsd:element name="ws_GetRegistrationListResponse" type="tns:ws_GetRegistrationListResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsp_GetRegistrationList_PortType_1_ws_GetRegistrationListResponse">
    <wsdl:part name="parameters" element="tns:ws_GetRegistrationListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsp_GetRegistrationList_PortType_1_ws_GetRegistrationList">
    <wsdl:part name="parameters" element="tns:ws_GetRegistrationList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsp_GetRegistrationList_PortType_1">
    <wsdl:operation name="ws_GetRegistrationList">
      <wsdl:input message="tns:wsp_GetRegistrationList_PortType_1_ws_GetRegistrationList">
    </wsdl:input>
      <wsdl:output message="tns:wsp_GetRegistrationList_PortType_1_ws_GetRegistrationListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DNB_WebServices_Providers_GetRegistrationList_wsp_GetRegistrationList_Binder_1" type="tns:wsp_GetRegistrationList_PortType_1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ws_GetRegistrationList">
      <soap:operation soapAction="DNB_WebServices_Providers_GetRegistrationList_wsp_GetRegistrationList_Binder_1_ws_GetRegistrationList" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsp_GetRegistrationList_V1">
    <wsdl:port name="DNB_WebServices_Providers_GetRegistrationList_wsp_GetRegistrationList_Port_1" binding="tns:DNB_WebServices_Providers_GetRegistrationList_wsp_GetRegistrationList_Binder_1">
      <soap:address location="https://toolkit.dnb.com/ws/DNB_WebServices.Providers.GetRegistrationList_V1:wsp_GetRegistrationList_V1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
